/* CSS declarations go here */
body,html{
	margin:0;
	height:100%;
	font-size: 14px;
}

.homeBody{
	padding-top: 50px;
}

#mainDiv{
	background:#ffffff;
	height:100%;
	margin:0;
}

.toolbar{
	height:50px;
	width:100%;
	background-color: #66ccff;
	position: absolute;
	margin: 0;
	padding: 0;
	top:0;
	left:0;
	box-shadow: 3px 3px 5px #dddddd;
}

.nav > li > a{
	color: #ffffff;
}

.toolAll{
	height:100%;
}

.toolDiv{
	padding: 55px 5px 5px 5px;
}

.toolLeft{
	width:300px;
	float:left;
	background:#eeeeee;
	height:100%;
}
.toolRight{
	width:300px;
	background:#eeeeee;
	float:right;
	height:100%;
}

.toolCenter{
	margin-right:300px;
	margin-left:300px;
	height:100%;
}

.centerDivP{
	display: table;
	height:100%;
	margin: 0 auto;
}

.centerDiv{
	width:100%;
	vertical-align: middle;
	display: table-cell;
}

.editorDiv{
	height:604px;
	width:412px;
	background-size:cover;
	background-position:50% 50%;
}

#pageTabContent{
	height:604px;
	width:412px;
	box-shadow: 2px 2px 5px #999999;
	position: relative;
}
.jwd{
	position: absolute;
}

.chooseimg{
	cursor:pointer;
	border:1px solid #eeeeee;
	margin: 5px;
	padding:2px;
	display: inline-block;
	box-shadow: 2px 2px 5px #999999;

}


.chooseimg:active{
	background-color:#66ccff;
	border:1px solid #66ccff;
}

.imgactive{
	background-color:#66ccff;
	border:1px solid #66ccff;
}

.toggleButton{
	background-color:#f6f9fa;
	border: 1px solid #f6f9fa;
	width:100%;
	height:30px;
	line-height:30px;
}

.myBtn{
	border: 0;
	background-color:#66ccff;
}

.returnBtn{
	float:left;
	border: 0;
	background-color:#66ccff;
}

.btnBox{
	width: 100%;
	text-align: center;
}

.nav-pills li.active a,.nav-pills li.active a:hover, .nav-pills li.active a:focus {
	background-color: #66ccff;
}

.nav-pills li a {
	border-radius: 0px;
}

#sortable li a{ margin:3px;height: 50px;border: 1px solid #999999}
