<template name="workSpace">
	<div style="height:100%">
		<div class="toolbar">
			<div class="collapse navbar-collapse" id="navigation">
				<ul class="nav navbar-nav navbar-right">
					{{> loginButtons}}
				</ul>
			</div>
		</div>
		<div class="toolAll">
			<div class="toolLeft toolDiv">
				<button type="button" name="button" id="addImg">添加图片</button>
				<button type="button" name="button" id="setBackground">设置背景图片</button>
				<button type="button" name="button" id="destory">保存状态</button>
				<button type="button" name="button" id="uploadpage">上传页面</button>
			</div>
			<div class="toolRight toolDiv">
				<button type="button" name="button" id="addPage">新建场景</button>
				<ul id="sortable" class="nav nav-tabs">
					{{#each arrayify page}}
						<li class="ui-state-default {{isactive}}" style="width:100%">
							<a href="#page{{name}}" data-toggle="tab">page{{name}}</a>
						</li>
					{{/each}}
				</ul>
			</div>
			<div class="toolCenter toolDiv">
				<div class="centerDivP">
					<div class="centerDiv">
						<div id="pageTabContent" class="tab-content"><!--做背景图片-->
							{{#each arrayify page}}
								<div class="editorDiv tab-pane fade in {{isactive}}" id="page{{name}}" style="background-image:{{value.background}};background-size:100% 100%"></div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
			{{> dialogForImg}}
			{{> dialogForOption}}
		</div>
	</div>
</template>
